package home

import "github.com/ElijahB09/personal-website/views/layouts"

css section() {
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	background-color: #afafaf;
	border-bottom: 1px solid #000000;
}

templ Home(nav_items []string) {
	@layouts.Root(nav_items) {
		<section class={ section }>
			
		</section>
	}
}